/* @import './base.css'; */

* {
  box-sizing: border-box;
}

body {
  height: 100svh;
  padding: 0;
  margin: 0;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0rem;
  font-weight: normal;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}
